<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
</head>
<body>
<h1>User Profile</h1>
<h2 th:text="${user.username}" style="font-size: 32px"></h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Registered</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr >
        <td th:text="${user.id}">User ID</td>
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.email}">User Email</td>
        <td th:text="${#temporals.format(user.createdAt, 'yyyy-MM-dd')}">Creation Date</td>
        <td th:text="${user.enabled ? 'Active' : 'Inactive'}">Status</td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
